body > header{
    height: 800px;
    background-image: url('../img/header_image.jpg');
    background-size: 100% 100%
}
body > header > div[class*=col-]{
    padding: 0px;
}
body > header .nav_one, 
body > header .nav_two{
    padding-left: 100px;
    padding-right: 100px
}
body > header .nav_one{
    background-color: #272727
}
body > header .nav_one .social_media{
    padding-top: 20px;
}
body > header .nav_one .social_media img{
    display: inline-block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-left: 15px;
}
body > header .nav_one .search_box{
    margin-left: 50px;
    padding-top: 15px;
}
body > header .nav_one .search_box .input-group{
    background-color: #3d3d3d;
    border-radius: 100px;
    width: 300px;
    padding: 5px;
    height: 38px;
}
body > header .nav_one .search_box .input-group .form-control, 
body > header .nav_one .search_box .input-group .input-group-text{
    background-color: transparent;
    border: none;
    height: 100%;
}
body > header .nav_one .search_box .input-group .input-group-text img{
    width: 15px;
    height: 15px
}
body > header .nav_one .search_box .input-group .form-control::-webkit-input-placeholder { 
    font-size: 12px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
body > header .nav_two{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 50px;
}
body > header .nav_two .contact_info .item{
    display: inline-block;
    margin-right: 40px;
}
body > header .nav_two .contact_info .item .icon{
    padding: 5px;
}
body > header .nav_two .contact_info .item .icon img{
    width: 40px;
    height: 40px;
}
body > header .nav_three{
    position: absolute;
    left: 0;
    right: 0;
    top: 170px;
    padding-left: 50px;
    padding-right: 50px;
}
body > header .nav_three > div{
    background-color: #272727;
    padding-left: 50px;
}
body > header .nav_three .nav_bar .nav_bar_item{
    display: inline-block;
    border-bottom: transparent 3px solid;
    margin-right: 45px;
}
body > header .nav_three .nav_bar .nav_bar_item > div > .label{
    color: white;
    line-height: 22px;
    font-size: 14px;
    letter-spacing: 0px;
    opacity: 1;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    display: block;
}
body > header .nav_three .nav_bar .nav_bar_item:hover{
    border-bottom: #fdbe00 3px solid
}
body > header .nav_three .special_link{
    background-color: #fdbe00;
    width: 150px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-left: white 5px solid;
    text-align: center;
    padding-top: 19px;
    cursor: pointer
}
body > header .nav_three .special_link a{
    color: white;
    line-height: 22px;
    font-size: 17px;
    letter-spacing: 0px;
    opacity: 1;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
body > header .nav_three .nav_bar .nav_bar_item > div{
    position: relative;
}
.sub_menu{
    background-color: white;
    border-top: transparent 3px solid;
    display: none
}
.sub_menu_block{
    width: 250px;
}
.sub_menu_grid{
    width: 450px;
}
.sub_menu:hover{
    border-top: #fdbe00 3px solid
}
.sub_menu .sub_menu_item{
    border-bottom: #e5e5e5 1px solid;
    cursor: pointer;
    width: 200px;
}
.sub_menu_block .sub_menu_item{
    display: block;
    width: 100%;
}
.sub_menu_grid .sub_menu_item{
    display: inline-block;
    min-width: 100px;
}
.sub_menu .sub_menu{
    left: 250px;
    top: 0;
}
.sub_menu .sub_menu_item > div{
    position: relative;
}
.sub_menu .sub_menu_item .label{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 22px;
    color: #2c2c2c;
    padding: 10px;
    padding-left: 20px;
    display: block
}
.sub_menu .sub_menu_item .label:hover{
    background-color: #303030;
    color: white
}
.sub_menu .sub_menu_item .drop_down_icon{
    position: absolute;
    right: 10px;
    top: 0;
}
.sub_menu .sub_menu_item .drop_down_icon img{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}
.sub_menu_grid{
    min-width: 100px;
}
.sub_menu_grid .sub_menu_item{
    display: inline-block;
    min-width: 100px;
}
#menu_icon{
    float: left;
    width: 35px;
    height: 35px;
    cursor: pointer
}
.mobile_nav{
    font-size: 20px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    display: none;
    text-align: center;
    padding: 10px
}
@media(min-width: 950px){
    .sub_menu{
        position: absolute;
        left: 0;
        top: 65px;
    }
}
@media(max-width: 950px){
    body > header .nav_one, 
    body > header .nav_two{
        padding-left: 15px;
        padding-right: 15px
    }
    body > header .nav_one .social_media{
        width: 100%;
        text-align: center
    }
    body > header .nav_one .social_media img{
        margin: auto
    }
    body > header .nav_one .search_box{
        margin-left: 0px;
        width: 100%;
    }
    body > header .nav_one .search_box .input-group{
        margin: auto
    }
    body > header .nav_two .contact_info{
        width: 100%;
    }
    body > header .nav_two .contact_info .item{
        margin: 20px;
    }
    body > header .nav_three .special_link{
        display: none
    }
    body > header .nav_three{
        top: 350px;
    }
    body > header .nav_three > div{
        text-align: right;
        padding: 0px
    }
    .mobile_nav{
        display: block;
        width: 100%
    }
    body > header .nav_three .nav_bar{
        position: absolute;
        left: 34px;
        right: 34px;
        top: 52px;
        background-color: #272727;
        padding: 5px;
        display: none
    }
    body > header .nav_three .nav_bar .nav_bar_item{
        display: block;
        width: 100%;
        text-align: left;
        background-color: #facd00;
        border: white 1px solid;
        padding-left: 15px
    }
    .sub_menu{
        width: 100%;
    }
    .sub_menu .sub_menu{
        border-left: black 4px solid
    }
}